language: cpp
services:
  - docker
before_script:
  - docker pull registry.gitlab.com/s.arlyapov/build_cpp/broker
script:
  - docker run -d  --name broker registry.gitlab.com/s.arlyapov/build_cpp/broker bash
  - docker ps
  - docker cp ./ broker:/root/src
  - docker exec broker bash -c "cd /root/src/ ; cmake ."
  - docker exec broker bash -c "cd /root/src/ ; cmake --build ."
  - docker exec broker bash -c "/root/src/bins/broker/broker"
