language: cpp
services:
  - docker
before_script:
  - docker pull registry.gitlab.com/s.arlyapov/build_cpp/broker
script:
  - docker run -d registry.gitlab.com/s.arlyapov/build_cpp/broker --name broker bash
  - docker cp ./ broker:/root/src
  - docker exec broker bash -c "cd /root/src/ ; cmake ."
  # - cmake --build .
