name: C/C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_REPO: registry.gitlab.com/s.arlyapov/build_cpp/broker
    container:
      image: ${{ job.env.DOCKER_IMAGE_REPO }}
    steps:
    - uses: actions/checkout@v2
    - name: Observe container sources
      run: ls -la 
    - name: Cmake
      run: cmake .
    - name: Build
      run: cmake --build .
    - name: Start broker
      run: ./bins/broker/broker &
    - name: Test
      run: ./tests/brokertest/brokertest --gtest_filter=-TransactionTest.*
