name: C/C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: [registry.gitlab.com/s.arlyapov/build_cpp/broker]
    steps:
    - uses: actions/checkout@v2
      with:
        container: ${{ matrix.container }}
    - name: Observe container sources
      run: ls -la 
    - name: Cmake
      run: cmake .
    - name: Build
      run: cmake --build .
    - name: Start broker
      run: ./bins/broker/broker &
    - name: Test
      run: ./tests/brokertest/brokertest --gtest_filter=-TransactionTest.*
