name: C/C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [debian]
        compiler: [clang,gcc]
    container: ${{ format('registry.gitlab.com/s.arlyapov/broker_images/{0}:{1}', matrix.os, matrix.compiler) }}
    steps:
    - uses: actions/checkout@v2
    - name: Observe container sources
      run: ls -la 
    - name: Cmake
      run: cmake .
    - name: Build
      run: cmake --build .
    - name: Start broker
      run: ./bins/broker/broker &
    - name: Test
      run: ./tests/brokertest/brokertest
