name: C/C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [debian, centos]
        compiler: [clang, gcc]
    container: ${{ format('registry.gitlab.com/s.arlyapov/broker_images/{1}:{2}', matrix.os, matrix.compiler) }}
    steps:
    - uses: actions/checkout@v2
    - name: Add log settings
      run: echo "<config><broker><log><level>8</level><path windows="./" _nix="./">./</path><interactive>false</interactive></log></broker></config>" > broker.xml
    - name: Cmake
      run: cmake .
    - name: Build
      run: cmake --build .
    - name: Start broker
      run: ./bins/broker/broker &
    - name: Test
      run: ./tests/brokertest/brokertest
    - uses: actions/upload-artifact@v1
      with:
        name: broker.log
        path: broker.log
