name: C/C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Pull docker image
      run: docker pull registry.gitlab.com/s.arlyapov/build_cpp/broker
    - name: Run container from image
      run: docker run -d  --name broker registry.gitlab.com/s.arlyapov/build_cpp/broker bash
    - name: Observe containers
      run: docker ps
    - name: Copy sources
      run: docker cp ./ broker:/root/src
    - name: Observe container sources
      run: docker exec broker bash -c "ls -la /root/src/"
    - name: Cmake
      run: docker exec broker bash -c "cd /root/src/ ; cmake ."
    - name: Build
      run: docker exec broker bash -c "cd /root/src/ ; cmake --build ."
    - name: Start broker
      run: docker exec -d broker bash -c "/root/src/bins/broker/broker"
    - name: Test
      run: docker exec broker bash -c "/root/src/tests/brokertest/brokertest --gtest_filter=-TransactionTest.*"
